<template>
  <input v-if="i === 1" type="radio" name="radio-buttons" :id="`img-${i}`" defaultChecked/>
  <input v-if="i !== 1" type="radio" name="radio-buttons" :id="`img-${i}`"/>
  <li class="slide-container">
    <div class="slide-image">
      <div class="container-img" v-bind:style="{ backgroundImage: `url(${banner.image})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
        <div class="container-title">
          <p><span class="">{{ banner.title }}</span></p>
          <span class="f-28 mt-19">{{ postDate }}</span>
        </div>
      </div>
    </div>
    <div class="carousel-controls">
      <label :htmlFor="`img-${prev}`" class="prev-slide">
        <span><i class="arrow left"></i></span>
      </label>
      <label :htmlFor="`img-${next}`" class="next-slide">
        <span><i class="arrow right"></i></span>
      </label>
    </div>
  </li>
</template>

<script>
import { ref, computed } from 'vue';
import moment from 'moment';

export default {
  props: {
    banner : {
      type: Object,
      required: true
    },
    index : {
      type: Number,
      required: true
    }
  },
  setup(props) {
    const prev = ref(0);
    const next = ref(0);
    const i = ref(props.index + 1);

    switch(i.value) {
      case 1:
        prev.value = i.value + 2;
        next.value = i.value + 1;
        break;
      case 2:
        prev.value = i.value - 1;
        next.value = i.value + 1;
        break;
      case 3:
        prev.value = i.value - 1;
        next.value = i.value - 2;
        break;
      default:
    }

    const postDate = computed(() => moment(props.banner.createdAt).format('yyyy.MM.DD'));

    return {
      prev,
      next,
      i,
      postDate
    }
  },
}
</script>

<style scoped>
  input[type="radio"] {
    opacity: 0;
  }

  .slide-container { 
    display: block; 
  }

  .slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
  }   

  .slide-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
  }

  .carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 1;
    transition: opacity .2s;
    cursor: pointer;
  }

  .carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
  }

  .carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
  }

  .carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 999;
    text-align: center;
  }

  .carousel-dots .carousel-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    margin-right: 10px;
    cursor: pointer;
  }

  input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked + .slide-container .carousel-controls label {
    display: block; 
  }

  input#img-1:checked ~ .carousel-dots label#img-dot-1,
  input#img-2:checked ~ .carousel-dots label#img-dot-2,
  input#img-3:checked ~ .carousel-dots label#img-dot-3,
  input#img-4:checked ~ .carousel-dots label#img-dot-4,
  input#img-5:checked ~ .carousel-dots label#img-dot-5,
  input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
    background-color: #101010;
  }

  input:checked + .slide-container .nav label { display: block; }

  .container-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-title {
    color: #ffffff;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 193px;
    width: 566px;
  }

  .container-title p {
    margin: 0;
    font-size: 60px;
    font-family: "Yu Gothic";
    font-weight: bold;
    max-height: 262px;
    overflow: hidden;
  }

  .container-title span:first-child {
    padding: 0 20px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: #000;
  }

  .container-title span:nth-child(2) {
    font-size: 28px;
    color: #101010;
    font-family: Montserrat;
    line-height: 47px;
    font-weight: 400;
  }

  .arrow {
    border: solid #101010;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
    
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
</style>
