<template>
  <section id="banner">
    <ul class="slides">
      <banner-item v-for="(banner, index) in posts" :banner="banner" :index="index" :key="index"></banner-item>
      <div class="carousel-dots">
        <label htmlFor="img-1" class="carousel-dot" id="img-dot-1" />
        <label htmlFor="img-2" class="carousel-dot" id="img-dot-2" />
        <label htmlFor="img-3" class="carousel-dot" id="img-dot-3" />
      </div>
    </ul>
  </section>
</template>

<script>
import { useQuery, useResult } from '@vue/apollo-composable';
import postsQuery from '../../graphql/posts.query.gql';
import BannerItem from './BannerItem.vue';

export default {
  components: {
    BannerItem
  },
  setup() {
    const { result } = useQuery(postsQuery,
    () => ({
      pagination: {
        offset: 0,
        limit: 3
      }
    }),
    {
      fetchPolicy: 'no-cache',
    });

    const posts = useResult(result, null, data => data.posts);

    return {
      posts
    }
  }
}
</script>

<style scoped>
  #banner {
    height: 666px;
    margin-bottom: 98px;
  }

  ul.slides {
    display: block;
    position: relative;
    height: 666px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  }

  .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  ul.slides input {
    display: none; 
  }

  .carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  margin-right: 10px;
  cursor: pointer;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
  background-color: #101010;
}
</style>
