<template>
  <button>
    {{label}}
  </button>
</template>

<script>
export default {
  name: 'TheButton',
  props: ['btnLabel'],
  data() {
    return {
      label: this.btnLabel
    }
  }
}
</script>

<style scoped>
  button {
    height: 70px;
    background-color: #101010;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 23px 97px;
    cursor: pointer;
  }
</style>
