<template>
  <div @click="scrollTop" class="scroll-top">
    <span><i class="scroll-top-icon"></i></span>
    <span>TOP</span>
  </div>
</template>

<script>
export default {
  name: 'ScrollTop',
  methods: {
    scrollTop() {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
}
</script>

<style scoped>
  .scroll-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: #ffffff;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    font-size: 16px;
    font-weight: bold;
    right: 123px;
    bottom: 0;
  }

  .scroll-top-icon {
    border: solid #101010;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .scroll-top:hover{
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
</style>
