<template>
  <footer>
    <div class="footer-header">
      <img alt="" src="../../assets/logo-w.png" />
      <p>サンプルテキストサンプル ルテキストサンプルテキストサ<br/>ンプルテキストサンプル ルテキスト</p>
      <scroll-top></scroll-top>
    </div>
    <div class="footer-copyright">
      <p>Copyright©2007-2019 Blog Inc.</p>
    </div>
  </footer>
</template>

<script>
import ScrollTop from '../ui/ScrollTop.vue'
export default {
  components: { ScrollTop },
  name: 'TheFooter',
  data() {
    return {

    }
  }
}
</script>

<style scoped>
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-header {
    padding: 78px 123px 0;
    height: 274px;
    background-color: #292929;
    position: relative;
  }

  .footer-header p {
    color: #ffffff;
    margin-top: 47px;
    margin-bottom: 0;
    font-weight: bold;
    padding: 0;
  }

  .footer-copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: #101010;
  }

  .footer-copyright p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.6px;
  }
</style>
