<template>
  <header>
    <a href="#" @click="updateBannerAndRedirect('')"><img alt="" src="../../assets/logo.png"/></a>
    <span v-show="!isAuthenticated">
      <a href="#" @click="updateBanner('login')" v-if="activeBanner == ''">LOGIN</a>
      <a href="#" @click="updateBanner('')" v-else>CLOSE</a>
    </span>
    <a href="#" @click="logout" v-if="isAuthenticated">LOGOUT</a>
  </header>
</template>

<script>
export default {
  name: 'TheHeader',
  setup() {
    function updateBanner(value) {
      this.$store.state.activeBanner = value;
    }

    function updateBannerAndRedirect(value) {
      this.updateBanner(value);
      this.$router.push('/');
    }

    function logout() {
      this.$store.commit('SET_BANNER', '');
      this.$store.dispatch('logOut');
      this.$router.push('/');
    }

    return { 
      updateBanner,
      updateBannerAndRedirect,
      logout
    }
  },
  computed: {
    activeBanner() {
      return this.$store.getters.activeBanner;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  }
}
</script>

<style scoped>
  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 116px 0 123px;
  }

  header > img {
    height: 30px;
    width: 148px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #101010;
    cursor: pointer;
  }
</style>
