<template>
  <banner v-show="activeBanner == ''"></banner>
  <transition name="slide-fade">
    <login class="form" v-if="activeBanner == 'login'"></login>
  </transition>
  <transition name="slide-fade">
    <register class="form" v-if="activeBanner == 'register'"></register>
  </transition>
  <posts></posts>
</template>

<script>
import Posts from '../posts/Posts.vue';
import Banner from '../ui/Banner.vue';
import Login from './Login.vue';
import Register from './Register.vue';

export default {
  components: { 
    Posts, 
    Banner, 
    Login, 
    Register 
  },
  name: 'Home',
  computed: {
    activeBanner() {
      return this.$store.state.activeBanner
    }
  },
}
</script>
<style>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-180px);
  opacity: 0;
}

.form {
  padding-bottom: 195px;
}
</style>
