<template>
  <div class="container">
    <h1>LOGIN</h1>
    <form @submit.prevent="authenticate">
      <label for="email"> Email: </label>
      <input type="email"
          id="email" 
          v-model="email"
          required />
      <label for="password"> Password:</label>
      <input type="password"
          id="password"
          v-model="password"
          required />
      <input type="submit"
          class="btn btn-login" 
          value="LOGIN" />
    </form>
    <span>No account yet? <a href="#" @click="updateBanner('register')"><strong>REGISTER HERE</strong></a></span>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import authenticateMutation from '../../graphql/authenticate.mutation.gql';
import { useStore } from 'vuex';

export default {
  components: { },
  name: 'Login',
  setup() {
    const errors = ref([]);
    const email = ref('');
    const password = ref('');
    const store = useStore();

    const { mutate: authenticate, onDone, result } = useMutation(authenticateMutation, () => ({
      variables: {
        email: email.value,
        password: password.value
      }
    }));

    function updateBanner(value) {
      this.$store.commit('SET_BANNER', value);
    }

    onDone((result) => {
      if (result.data.authenticate) {
        store.commit('SET_TOKEN', result.data.authenticate);
        store.commit('SET_AUTH', true);
        store.commit('LOGIN_USER', {user: {email: email.value}});
        store.commit('SET_BANNER', '');
      }
    })

    return {
      errors, 
      email, 
      password, 
      updateBanner, 
      authenticate,
      result
    };
  },
}
</script>

<style scoped>
  .container {
    width: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 auto;
  }

  h1 {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label {
    font-size: 18px;
  }

  input {
    height: 60px;
    font-size:24px;
    padding: 5px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    margin-bottom: 37px;
  }
</style>
