<template>
  <div>
    <label class="form-label">REGISTER</label>
    <form @submit.prevent="registerUser">
      <label> Email: </label>
      <input type="email"
        id="email" 
        v-model="email"
        required />
      <label> Password:</label>
      <input type="password"
        id="password" 
        v-model="password"
        required />
      <label> Confirm Password:</label>
      <input type="password"
        id="passwordConfirmation" 
        v-model="passwordConfirmation"
        required />
      <input type="submit"
        className="btn btn-login" 
        value="REGISTER" />
    </form>
    <span>Already have an account? <a @click="updateBanner('login')" href="#"><strong>LOGIN HERE</strong></a></span>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import registerMutation from '../../graphql/register.mutation.gql';
import authenticateMutation from '../../graphql/authenticate.mutation.gql';
import { useStore } from 'vuex';

export default {
  name: 'Register',
  setup() {
    const errors = ref([]);
    const email = ref('');
    const password = ref('');
    const passwordConfirmation = ref('');
    const store = useStore();

    const { mutate: register } = useMutation(registerMutation, () => ({
      variables: {
        email: email.value,
        password: password.value
      }
    }));

    const { mutate: authenticate, onDone } = useMutation(authenticateMutation, () => ({
      variables: {
        email: email.value,
        password: password.value
      }
    }));

    function updateBanner(value) {
      this.$store.state.activeBanner = value;
    }

    function registerUser() {
      register().then((res) => {
        if (res?.data?.register) {
          authenticate();
        }
      })
    }

    onDone((result) => {
      if (result.data.authenticate) {
        store.commit('SET_TOKEN', result.data.authenticate);
        store.commit('SET_AUTH', true);
        store.commit('LOGIN_USER', {user: {email: email.value}});
        store.commit('SET_BANNER', '');
      }
    })

    return {
      errors, 
      email, 
      password, 
      passwordConfirmation, 
      updateBanner, 
      registerUser
    };
  }
}
</script>

<style scoped>
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 300ms ease-in-out;
    margin-top: 80px;
  }

  .form-label {
    width: 460px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 460px;
  }

  form label {
    font-size: 18px;
  }

  input {
    width: 460px;
    height: 60px;
    font-size:24px;
    padding: 5px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    margin-bottom: 20px;
  }

  input[type="submit"] {
    margin-bottom: 37px;
  }
</style>
