<template>
  <the-header></the-header>
  <main>
    <router-view></router-view>
  </main>
  <the-footer></the-footer>
</template>

<script>
import TheFooter from './components/layout/Footer.vue';
import TheHeader from './components/layout/Header.vue';

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  #app {
    font-family: Montserrat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: #fff;
  }

  ul {
    margin: 0;
    list-style: none;
  }
</style>
