<template>
  <article @click="viewPost(post.id)">
    <div class="post-item-thumbnail">
      <img alt="" src="../../assets/banner.png"/>
    </div>
    <p class="post-item-date">{{ postDate(post.createdAt)}}</p>
    <div class="post-item-content"><p class="post-item-content-value">{{post.title}}</p></div>
  </article>
</template>

<script>
import moment from 'moment';

export default {
  props: ['post'],
  setup() {
    function viewPost(id) {
      this.$router.push(`/post/view/${id}`)
    }

    function postDate(date) {
      return moment(date).format('yyyy.MM.DD')
    }

    return { 
      viewPost,
      postDate
    }
  }
}
</script>

<style scoped>
  article {
    position: relative;
    max-height: 430px;
    width: 28.85%;
    padding: 40px 30px;
    border: 1px solid #101010;
    box-sizing: border-box;
    color: #101010;
    display: flex;
    flex-direction: column;
    margin: 4.46% 0 0 4.46%;
    cursor: pointer;
  }

  .post-item-thumbnail {
    width: auto;
    height: 200px;
    position: relative;
  }

  .post-item-thumbnail > img {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .post-item-date {
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0 15px;
  }

  .post-item-content {
    width: calc(100% - 60px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }

  .post-item-content-value {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    font-family: 'Yu Gothic';
  }
</style>
