<template>
  <transition name="slide-fade">
    <login class="form" v-if="activeBanner === 'login'"></login>
  </transition>
  <transition name="slide-fade">
    <register class="form" v-if="activeBanner ==='register'"></register>
  </transition>
  <section class="breadcrumb-section">
    <ul class="breadcrumb">
        <li><router-link to="/">HOME</router-link></li>
        <li>{{ !loading && post?.title }}</li>
    </ul>
  </section>
  <section v-if="isAuthenticated && params.type == 'view'" class="actions-section">
    <span @click="editPost" class="f-20 fw-bold underline">Edit Post</span>
  </section>
  <section v-if="isAuthenticated && params.type == 'edit'" class="actions-section">
    <span @click="updatePost">Save Post</span>
    <span @click="cancelClick">Cancel</span>
  </section>
  <section class="form-section">
    <div class="form-section-container" v-if="params.type == 'view'">
      <span class="post-date">{{ !loading && postDate }}</span>
      <span class="post-title">{{ !loading && post.title }}</span>
      <div v-if="!loading" class="post-image-container"><img class="post-image" :alt="post.title" :src="imagePreview"/></div>
      <span class="post-content">{{ !loading && post.content }}</span>
    </div>
    <div class="form-section-container" v-else>
      <span class="post-date">{{ currentDate }}</span>
      <textarea class="input-title" id="title" v-model="title"/>
      <div class="preview-component">
          <figure class="img-preview">
              <img :alt="!loading && post?.title" :src="imagePreview"/>
          </figure>
          <label htmlFor="file-upload" class="btn custom-file-upload">
              UPLOAD IMAGE
          </label>
          <input required id="file-upload" @change="handleFileChange" type="file"/>
      </div>
      <textarea class="input-content" id="content" v-model="content" placeholder="Content"/>
    </div>
  </section>
  <section class="comment-section">
    <h1 class="comment-section-title">COMMENT</h1>
    <div class="comments">
      <ul class="post-comments" v-if="!loading && comments.length !== 0" >
        <li class="post-comments-item" v-for="comment in comments" :key="comment.id">
          <div class="post-comments-item-container">
            <span>{{ comment?.content }}</span>
            <span>{{ fromNow(comment?.createdAt) }}</span>
          </div>
        </li>
      </ul>
    </div>
    <textarea class="comment-input" id="comment" v-model="comment" placeholder="Write comment"/>
    <div class="button-container"><the-button :btnLabel="'SUBMIT'" @click="submitComment" /></div>
  </section>
   <Dialog :show="showWarning"
          :cancel="cancelWarning"
          :confirm="confirmWarning"
          title=""
          description="Changes have been made on this post. Are you sure you want to cancel editing?" />
</template>

<script>
import { computed, ref, watch, watchEffect } from 'vue';
import { useQuery, useMutation, useResult, useSubscription } from '@vue/apollo-composable';
import { useRouter, useRoute } from 'vue-router';
import moment from 'moment';
import { useStore } from 'vuex';

import TheButton from '../ui/Button.vue';
import Login from '../pages/Login.vue';
import Register from '../pages/Register.vue';
import Dialog from '../../components/ui/Dialog.vue';

import postQuery from '../../graphql/post.query.gql';
import updatePostMutation from '../../graphql/updatePost.mutation.gql';
import addCommentMutation from '../../graphql/addComment.mutation.gql';
import commentAddedSubscription from '../../graphql/commentAdded.subscription.gql';

export default {
  name: 'Post',
  components: {
    TheButton,
    Login, 
    Register,
    Dialog
  },
  setup() {
    const currentDate = ref(moment().format('yyyy.MM.DD'));
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    const title = ref('');
    const content = ref('');
    const image = ref('');
    const comment = ref('');
    const comments = ref([]);
    const imagePreview = ref('');
    const showWarning = ref(false);
    const hasChanges = ref(false);

    const { result: postResult, loading } = useQuery(postQuery,() => ({
      id: parseInt(route.params.id)
    }));
    
    const post = useResult(postResult, null, data => {
      title.value = data.post.title;
      content.value = data.post.content;
      imagePreview.value = data.post.image;
      comments.value = data.post.comments;
      return data.post;
    });

    const { mutate: updatePost, onDone } = useMutation(updatePostMutation, () => ({
      variables: {
        post: {
          id: parseInt(route.params.id),
          title: title.value,
          content: content.value,
          image: imagePreview.value
        }
      }
    }));

    const { mutate: addComment } = useMutation(addCommentMutation, () => ({
      variables: {
        postId: parseInt(route.params.id),
        content: comment.value
      }
    }));

    const { result } = useSubscription(commentAddedSubscription, () => ({
      postId: parseInt(route.params.id)
    }));

    watch(
      result,
      data => comments.value = comments.value.concat(data.commentAdded), {
        lazy: true
      }
    );

    watchEffect(() => {
      if (!loading.value && (
          title.value !== ''
            || content.value !== ''
            || imagePreview.value !== ''
        )) {
        if (postResult.value.post?.title !== title.value
            || postResult.value.post?.content !== content.value
            || postResult.value.post?.image !== imagePreview.value) {
          hasChanges.value = true;
        }
      }
    })

    function editPost() {
      router.push(`/post/edit/${post.value.id}`)
    }

    function cancelWarning() {
      showWarning.value = false;
    }

    function confirmWarning() {
      showWarning.value = false;
      title.value = postResult.value?.post?.title;
      content.value = postResult.value?.post?.content;
      imagePreview.value = postResult.value?.post?.image;
      hasChanges.value = false;
      router.back();
    }

    function cancelClick() {
      if (hasChanges.value) {
        showWarning.value = true;
      } else {
        router.back();
      }
    }

    function fromNow(date) {
      return moment(date).fromNow();
    }

    function handleFileChange(e) {
      e.preventDefault();
    
      let reader = new FileReader();
      let file = e.target.files[0];
  
      reader.onloadend = () => {
        image.value = file;
        imagePreview.value = reader.result;
      }
  
      reader.readAsDataURL(file);
    }

    function submitComment() {
      if (comment.value) {
        addComment().then(() => {
          comment.value = '';
        })
      }
    }

    onDone((result) => {
      if(result.data.updatePost && result.data.updatePost !== null) {
        router.push(`/post/view/${result.data.updatePost.id}`);
      }
    })

    const params = computed(() => route.params);
    const postDate = computed(() => moment(post.value.createdAt).format('yyyy.MM.DD'));
    const isAuthenticated = computed(() => store.getters.isAuthenticated);
    const activeBanner = computed(() => store.getters.activeBanner);

    return {
      title,
      content,
      image,
      comment,
      comments,
      imagePreview,
      loading,
      post,
      currentDate,
      params,
      postDate,
      isAuthenticated,
      activeBanner,
      showWarning,
      handleFileChange,
      editPost,
      submitComment,
      updatePost,
      cancelClick,
      fromNow,
      cancelWarning,
      confirmWarning
    };
  },
}
</script>

<style scoped>
  .breadcrumb-section {
    background-color: #F5F5F5;
  }

  ul.breadcrumb {
    padding: 29px 123px 29px;
    list-style: none;
  }

  ul.breadcrumb li {
      display: inline;
      font-size: 16px;
      font-family: YuGothic;
  }

  ul.breadcrumb li+li:before {
      padding: 8px;
      color: #101010;
      content: "\003E";
  }

  ul.breadcrumb li a:hover {
      color: #01447e;
      text-decoration: underline;
  }

  .actions-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 63px;
    padding: 0 123px;
  }

  .actions-section > span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
  }

  .form-section {
    margin: 33px 123px 0;
    padding: 0 0 94px;
    border-bottom: 1px solid #707070;
  }

  .form-section-container {
    display: flex;
    flex-direction: column;
  }

  .post-date {
    font-size: 20px;
  }

  .post-title {
    margin-top: 34px;
    margin-bottom: 47px;
    font-size: 40px;
    font-family: 'YuGothic';
    font-weight: bold;
  }

  .post-image-container {
    position: relative;
    height: 540px;
    width: 100%;
  }

  .post-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .post-content {
    margin-top: 60px;
    font-size: 18px;
    font-family: "YuGothic";
  }

  .comment-section {
    padding: 0 123px;
  }

  .comment-section-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 39px;
  }

  .comment-input {
    height: 200px;
    width: 100%;
    padding: 40px;
    font-style: italic;
  }

  .button-container {
    margin-top: 40px;
    margin-bottom: 148px;
    display: flex;
    justify-content: flex-end;
  }

  .input-title {
    height: 150px;
    width: 100%;
    margin-top: 19px;
    margin-bottom: 31px;
    padding: 15px;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: 'YuGothic';
  }

  .img-preview {
    margin: 0;
    background-color: #D6D6D6;
    height: 540px;
    width: 100%;
  }

  .img-preview img {
    width: 100%;
    height: 100%;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    position: relative;
    width: 260px;
    bottom: 70px
  }

  .btn {
    background-color: #101010;
    border: none;
    color: #FFFFFF;
    padding: 23px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
    letter-spacing: 0.1rem;
    border-radius: 0;
  }

  .input-content {
    height: 394px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-family: 'YuGothic';
    font-style: normal;
  }

  .post-comments {
    padding: 0;
  }
  
  .post-comments-item {
    background-color: #f5f5f5;
    padding: 60px 40px;
    margin-bottom: 50px;
  }

  .post-comments-item-container {
    display: flex;
    flex-direction: column;
  }

  .post-comments-item-container > span:first-child {
    margin-bottom: 21px;
    color: #101010;
    font-family: "Yu Gothic";
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 40px;
  }

  .form {
    padding-bottom: 195px;
  }
</style>
