<template>
  <section>
    <div class="section-header">
      <h1>NEWS</h1>
      <router-link to="/post/add" class="add-post-link" v-if="isAuthenticated">Create New Post</router-link>
    </div>
    <div class="post-list">
      <transition-group name="list">
        <post-item v-for="(post, index) in posts" :post="post" :key="index"></post-item>
      </transition-group>
    </div>
    <div class="button-container">
      <the-button v-if="hasLoadMore" :btnLabel="'LOAD MORE'" @click="loadMore"></the-button>
    </div>
  </section>
</template>

<script>
  import { ref } from 'vue';
  import { useQuery, useResult } from '@vue/apollo-composable';
  import { useStore } from 'vuex';
  import postsQuery from '../../graphql/posts.query.gql';
  import PostItem from './PostItem.vue';
  import TheButton from '../ui/Button.vue';
  import { computed } from 'vue-demi';

  export default {
    components: { PostItem, TheButton },
    setup() {
      const { result, fetchMore } = useQuery(postsQuery, () => ({
        pagination: {
          offset: 3,
          limit: 6
        }
      }),
      {
        fetchPolicy: 'cache-and-network',
      });

      const store = useStore();
      const hasLoadMore = ref(true);
      const posts = useResult(result, null, data => data.posts);
      const isAuthenticated = computed(() => store.state.isAuthenticated);

      function loadMore() {
        fetchMore({
          variables: {
            pagination: {
              offset: result.value.posts.length + 3,
              limit: 6
            }
          },
          updateQuery: (previousResult, { variables, fetchMoreResult }) => {
            if (fetchMoreResult.posts.length < variables.pagination.limit) {
              hasLoadMore.value = false;
            }

            if (!fetchMoreResult) return previousResult;

            return {
              ...previousResult,
              posts: [
                ...previousResult.posts,
                ...fetchMoreResult.posts,
              ],
            }
          },
        });
      }

      return {
        posts,
        isAuthenticated,
        hasLoadMore,
        loadMore
      };
    }
  }
</script>

<style scoped>
  section {
    display: flex;
    flex-direction: column;
    padding: 0 123px 150px;
    color: #101010;
  }

  section h1 {
    margin: 0;
    line-height: 1;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-list {
    padding-top: calc(65px - 4.46%);
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 0 0 -4.46%;
    width: calc(100% + 4.46%); 
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  .add-post-link {
    color: #101010;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    text-align: right;
    text-decoration: underline;
  }

  .list-enter-active,
  .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
</style>
