<template>
  <section class="breadcrumb-section">
    <ul class="breadcrumb">
        <li><router-link to="/">HOME</router-link></li>
        <li>Create New Post</li>
    </ul>
  </section>
  <form @submit.prevent="savePost">
    <section class="actions-section">
      <button type="submit" class="action__link">Save Post</button>
      <span @click="cancel">Cancel</span>
    </section>
    <section class="form-section">
      <div class="form-section-container">
        <span class="current-date">{{currentDate}}</span>
        <textarea name="title" required class="input-title" id="title" v-model="title" placeholder="Title"/>
        <div>
            <figure class="img-preview">
                <img :src="imagePreview">
            </figure>
            <label htmlFor="file-upload" class="btn custom-file-upload">
                UPLOAD IMAGE
            </label>
            <input id="file-upload" @change="handleFileChange" type="file"/>
        </div>
        <textarea name="content" required class="input-content" id="content" v-model="content" placeholder="Content"/>
      </div>
    </section>
  </form>
</template>

<script>
import { ref } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import addPostMutation from '../../graphql/addPost.mutation.gql';
import moment from 'moment';
import { useRouter } from 'vue-router';

export default {
  name: 'PostAdd',
  setup() {
    const currentDate = ref(moment().format('yyyy.MM.DD'));
    const title = ref('');
    const content = ref('');
    const image = ref('');
    const imagePreview = ref('');
    const router = useRouter();

    const { mutate: addPost } = useMutation(addPostMutation, () => ({
      variables: {
        post: {
          title: title.value,
          content: content.value,
          image: imagePreview.value
        }
      }
    }));

    function handleFileChange(e) {
      e.preventDefault();
    
      let reader = new FileReader();
      let file = e.target.files[0];
  
      reader.onloadend = () => {
        image.value = file;
        imagePreview.value = reader.result;
      }
  
      reader.readAsDataURL(file);
    }

    function savePost() {
      addPost().then(() => {
        router.push(`/`)
      });
    }

    function cancel() {
      router.back();
    }

    return { 
      currentDate,
      title, 
      content,
      image, 
      imagePreview,
      handleFileChange,
      savePost,
      cancel
    };
  },
}
</script>

<style scoped>
  .breadcrumb-section {
    background-color: #F5F5F5;
  }

  ul.breadcrumb {
    padding: 29px 123px 29px;
    list-style: none;
  }

  ul.breadcrumb li {
      display: inline;
      font-size: 16px;
      font-family: YuGothic;
  }

  ul.breadcrumb li+li:before {
      padding: 8px;
      color: #101010;
      content: "\003E";
  }

  ul.breadcrumb li a:hover {
      color: #01447e;
      text-decoration: underline;
  }

  .actions-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 63px;
    padding: 0 123px;
  }

  .actions-section > span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
  }

  .action__link {
    font-family: 'Montserrat';
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
    color: #2c3e50;
  }

  .form-section {
    margin-top: 33px;
    padding: 0 123px;
  }

  .form-section-container {
    display: flex;
    flex-direction: column;
  }

  .current-date {
    font-size: 20px;
  }

  .input-title {
    height: 150px;
    width: 100%;
    margin-top: 19px;
    margin-bottom: 31px;
    padding: 15px;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: 'YuGothic';
  }

  .img-preview {
    margin: 0;
    background-color: #D6D6D6;
    height: 540px;
    width: 100%;
  }

  .img-preview img {
    width: 100%;
    height: 100%;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    position: relative;
    width: 260px;
    bottom: 70px
  }

  .btn {
    background-color: #101010;
    border: none;
    color: #FFFFFF;
    padding: 23px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
    letter-spacing: 0.1rem;
    border-radius: 0;
  }

  .input-content {
    height: 394px;
    width: 100%;
    margin-bottom: 160px;
    padding: 15px;
    font-size: 18px;
    font-family: 'YuGothic';
    font-style: normal;
  }
</style>
